/* Font Imports */
@font-face {
  font-family: 'Karla';
  src: url(./assets/fonts/Karla-VariableFont_wght.ttf) format('TrueType');
  font-style: normal;
}

:root {
  /* Colors */
  /* Primary */
  --green-200-lighter: hsl(148, 38%, 91%);
  --green-600-medium: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  
  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --grey-500-medium: hsl(186, 15%, 59%);
  --grey-900-darker: hsl(187, 24%, 22%);

  /* Generals */
  --input-height: 35px;
  --gral-radius: 7px;

  accent-color: var(--green-600-medium);

  font-family: 'Karla';
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--green-200-lighter);
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
}


main {
  width: 500px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  padding: 20px;
  row-gap: 20px;
  border-radius: 10px;
}
main > h1 {
  width: 100%;
  margin-bottom: 10px;
  font-size: 1.4em;
}

.names-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.first-name-container, .last-name-container{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
/* .first-name-container > label, .last-name-container > label{
  height: 30px;
} */
#form-first-name, #form-last-name{
  width: 100%;
  height: var(--input-height);
  border-radius: var(--gral-radius);
  border: 1px solid var(--grey-500-medium);
}
.form-email-container{
  display: flex;
  gap: 12px;
  flex-direction: column;
}
#form-email{
  height: var(--input-height);
  border-radius: var(--gral-radius);
  border: 1px solid var(--grey-500-medium);
}
.form-query-container{
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.form-ratios-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
}

.form-ratios-container > label {
  border: 1px solid var(--grey-500-medium);
  padding: 10px 20px;
  border-radius: var(--gral-radius);
}
.form-ratios-container > label:focus-within{
  background-color: var(--green-200-lighter);
  outline: 1px solid var(--green-600-medium);
}
.form-message-container{
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.form-message-container > label{
  width: 100%;
}
.form-message-container > textarea{
  border-radius: var(--gral-radius);
  border: 1px solid var(--grey-500-medium);
}

.contact-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.form-consent-container{
  display: flex;
}

quote{
  padding-left: 15px;
}
.asterisk{
  color: var(--green-600-medium);
}

#form-message{
  width: 100%;
  resize: none;
}

[value=Submit]{
  display: block;
  width: 100%;
  background-color: var(--green-600-medium);
  color: var(--white);
  height: 40px;
  border-radius: 5px;
  border: none;
  margin-top: 12px;
}
input:focus, textarea:focus{
  background-color: var(--green-200-lighter);
  outline: 1px solid var(--green-600-medium);
}
