/* Font Imports */
@font-face {
  font-family: 'Karla';
  src: url(./assets/fonts/Karla-VariableFont_wght.ttf) format('TrueType');
  font-style: normal;
}

:root {
  /* Colors */
  /* Primary */
  --green-200-lighter: hsl(148, 38%, 91%);
  --green-600-medium: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  
  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --grey-500-medium: hsl(186, 15%, 59%);
  --grey-900-darker: hsl(187, 24%, 22%);

  font-family: 'Karla';
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--green-200-lighter);
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


main {
  width: 500px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  padding: 20px;
  row-gap: 20px;
  border-radius: 10px;
}
main > h1 {
  width: 100%;
  margin-bottom: 10px;
  font-size: 1.4em;
}
.contact-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.asterisk{
  color: var(--green-600-medium);
}

#form-message{
  resize: none;
}
[value=Submit]{
  display: block;
  width: 100%;
  background-color: var(--green-600-medium);
  color: var(--white);
}